<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="flex-1 text-2xl">IRAA</span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="bg-white w-64">
    <mat-accordion>
      <mat-expansion-panel class="shadow-none bg-transparent">
        <mat-expansion-panel-header>
          <mat-panel-title class="font-bold">Library</mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list>
          <a
            mat-list-item
            routerLink="/library/organisation"
            routerLinkActive="active"
          >
            <div class="flex align-middle">
              <mat-icon>language</mat-icon>
              <span class="ml-2">Organisation</span>
            </div>
          </a>
          <a
            mat-list-item
            routerLink="/library/department"
            routerLinkActive="active"
          >
            <div class="flex align-middle">
              <mat-icon>assignment</mat-icon>
              <span class="ml-2">Department</span>
            </div>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel class="bg-transparent">
        <mat-expansion-panel-header>
          <mat-panel-title class="font-bold">Audit Plan</mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel class="bg-transparent">
        <mat-expansion-panel-header>
          <mat-panel-title class="font-bold">Audit Execution</mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel class="bg-transparent">
        <mat-expansion-panel-header>
          <mat-panel-title class="font-bold">Utilities</mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
  <main class="flex-1 bg-slate-50">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="search..."
        #input
      />
    </mat-form-field>

    <section class="relative">
      <table mat-table [dataSource]="allOrg" matSort>
        <ng-container matColumnDef="organization">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Organisation
          </th>
          <td mat-cell *matCellDef="let element">{{ element.organization }}</td>
        </ng-container>

        <ng-container matColumnDef="organization_description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
          <td mat-cell *matCellDef="let element">
            {{ element.organization_description }}
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <button mat-mini-fab color="primary" (click)="addNew(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-mini-fab
              color="primary"
              class="ml-2"
              (click)="delete(element)"
            >
              <mat-icon>delete_forever</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr>
      </table>

      <div class="absolute bottom-0 w-full">
        <mat-paginator
          [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Select page of users"
        ></mat-paginator>
      </div>

      <div class="button-container">
        <button mat-fab color="primary" (click)="addNew()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </section>
  </main>
</mat-sidenav-container>
